 
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    cursor: url('img/logo.png'), auto;
}
h1, h2, h3, h4, p{
    margin: 0;
}
nav {
    background: #1B1A21;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav img{
    height: 38px;
    width: 45px;
    margin-left: 40px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-left: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}
nav ul li button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    
}
nav ul li a:hover {
    color: #FF4655;
}
#home{
    height: 950px;
    width: 100%;
    background-image: url('img/image1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#home h1 {
    font-family: 'Anton', sans-serif;
    padding-top: 450px;
    padding-left: 80px;
    color: white;
    font-size: 120px;
    animation: 
        animateIntro 1.5s forwards,
        animateFloating 5s infinite;
}

@keyframes animateIntro {
    0% {opacity: 0; padding-left: 210px;}
    100% {opacity: 1; padding-left: 80px;}
}

@keyframes animateFloating {
    0% {padding-top: 450px;}
    50% {padding-top: 470px;}
    100% {padding-top: 450px;}
}

.play button{
    flex: right;
}
.play {
    position: absolute;
    right: 420px;
    top: 55%;
    transform: translateY(-50%);
    background-color: #FF4655;
    color: white;
    border-color: white;
    border-width: 2px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    transition: color 1s ease, background-color 0.3s ease, border-color 0.3s ease;
}
.play:hover {
    background-color: white;
    color: #1B1A21;
    border-color: #1B1A21;
}
#overview {
    height: 950px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('img/omen.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#overview h1{
    padding-top: 100px;
    padding-left: 160px;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 80px;
    animation: animateGameplayTitle 1.5s;
}
@keyframes animateGameplayTitle {
    0% {opacity:0; padding-left:260px;}
    100% {opacity: 1; padding-left:160px}
}
#overview .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 180px;
    margin-right: 270px;
}
#overview .wrapper #text-wrapper{
    width: 40%;
}
#overview .wrapper #text-wrapper p{
    color: white;
    margin: 10px;
    font-family: 'Impact', sans-serif;
    font-size: 40px;
}
#overview .wrapper #img-wrapper{
    width: 60%;
}
#overview .wrapper #img-wrapper img {
    width: 100%;
    height: auto;
    margin-left: 100px;
    mask-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
}
#overview #text-wrapper span {
    display: inline-block;
    color: white;
    transition: transform 0.1s ease, color 0.1s ease;
}

#overview #text-wrapper span:hover {
    color: #FF4655;
    transform: translateY(-5px);
}


#gameplay{
    height: 950px;
    width: 100%;
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#gameplay h1{
    padding-top: 100px;
    padding-left: 160px;
    font-family: 'Anton', sans-serif;
    color: #1B1A21;
    font-size: 80px;
    animation: animateGameplayTitle 1.5s;
}
#gameplay #text-wrapper span {
    display: inline-block;
    transition: transform 0.1s ease, color 0.1s ease;
}

#gameplay #text-wrapper span:hover {
    color: #FF4655;
    transform: translateY(-5px);
}
#gameplay .wrapper{
    margin-top: 60px;
    margin-left: 270px;
    margin-right: 270px;
}
#gameplay .wrapper #swiper-container {
    width: 100%;
    height: 400px;
    position: relative;
}

#gameplay .wrapper #swiper-wrapper {
    display: flex;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: #FF4655;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    color: #FF4655;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

#gameplay .wrapper #swiper-wrapper img{
    width: 600px;
    height: 400px;
    border-color: #1B1A21;
    border-style: solid;
    border-width: 1px;
    margin-left: 200px;
}

#gameplay .wrapper #text-wrapper h2{
    color: #1B1A21;
    padding-top: 20px;
    margin: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
#gameplay .wrapper #text-wrapper p{
    color: #1B1A21;
    margin: 10px;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
}
#agents{
    height: 1650px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url('img/chamberbg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#agents h1{
    padding-top: 100px;
    padding-left: 160px;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 80px;
    animation: animateGameplayTitle 1.5s;
}
#agents .wrapper{
    margin-top: 60px;
    margin-left: 270px;
    margin-right: 270px;
}
#agents .wrapper #text-wrapper{
    color: white;
    margin: 10px;
    font-family: 'Alef', sans-serif;
    font-size: 20px;
}
#agents .wrapper #cards-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

#agents .wrapper #cards-wrapper #card_agent{
    width: 350px;
    height: 530px;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}
#agents .wrapper #cards-wrapper #card_agent #container{
    padding: 20px;
}
#agents .wrapper #cards-wrapper #card_agent #container h3{
    color: white;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
#agents .wrapper #cards-wrapper #card_agent #container img{
    height: 430px;
    margin: auto;
}

#weapons{
    height: 1200px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url('img/omen1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
#weapons h1{
    padding-top: 100px;
    padding-left: 160px;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 80px;
    animation: animateGameplayTitle 1.5s;
}
#weapons .wrapper{
    margin-top: 60px;
    margin-left: 270px;
    margin-right: 270px;
}
#weapons .wrapper #main-wrapper{
    display: flex;
    padding-top: 60px;
}
#weapons .wrapper #text-wrapper h2{
    color: white;
    margin: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
#weapons .wrapper #text-wrapper p{
    color: white;
    margin: 10px;
    font-family: 'Alef', sans-serif;
    font-size: 20px;
}
#options-wrapper{
    margin-top: 40px;
}
#weapons #options-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#weapons #options-wrapper ul li {
    margin: 0 15px;
}
#weapons #options-wrapper ul li button {
    text-decoration: none;
    color: #1B1A21;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
    background: none;
    border: none;
    font-weight: bold;
}
#weapons #options-wrapper ul li button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}
#weapons #options-wrapper ul li button:hover {
    color: #FF4655;
}
#weapons #weapons-wrapper{
    margin-left: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 550px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    border: 0.2px #ffffff77 solid;
}
#weapons #weapons-wrapper h3{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: white;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}
#weapons #weapons-wrapper #swiper-wrapper{
    display: flex;
    margin-top: 100px;
}
#weapons #weapons-wrapper #swiper-wrapper button {
    text-decoration: none;
    width: 40px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 120px;
    cursor: pointer;
    transition: color 0.3s ease;
    background: none;
    border: none;
}
#weapons #weapons-wrapper #swiper-wrapper #weapon-button {
    position: relative;
}
#weapons #weapons-wrapper #swiper-wrapper #weapon-button button {
    width: auto;
    color: #ffffff;
    cursor: crosshair;
    transition: color 0.3s ease;
    background: none;
}
#weapons #weapons-wrapper #swiper-wrapper button:hover {
    color: #FF4655;
}

/* Weapon image rotation animation */
#weapons #weapons-wrapper #swiper-wrapper #weapon-button #new-weapon-img {
    width: 200px; 
    position: absolute;
    top: -40px; 
    left: -160px; 
    display: none; /* Initially hidden */
    z-index: 2; 
}

.firing {
    animation: firingAnimation 0.2s infinite alternate; 
    transform: rotate(10deg); /* Add rotation as part of the firing */
    z-index: 1;
}
@keyframes firingAnimation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

#weapons #weapons-wrapper #swiper-wrapper #weapon-button #weapon-img.rotate {
    transform: rotate(10deg); /* Full 360-degree rotation */
    z-index: 1;
}

#weapons #weapons-wrapper #swiper-wrapper #weapon-button #new-weapon-img {
    width: 200px; /* Adjust size as needed */
    position: absolute;
    top: -40px; /* Align top with the first image */
    left: -160px; /* Positioned left of the weapon image (adjust based on size of both images) */
    display: none; /* Initially hidden */
}

#weapons #damage-wrapper{
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 300px;
    width: 400px;
    border: 0.2px #ffffff77 solid;
    margin-top: 250px;
}
#weapons #damage-wrapper h3{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
#weapons #damage-wrapper #details-wrapper{
    display: flex;
}
#weapons #damage-wrapper #details-wrapper #first-range-wrapper h4 {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}
#weapons #damage-wrapper #details-wrapper #first-range-wrapper h5 {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-left: 40px;
}
#weapons #damage-wrapper #details-wrapper #second-range-wrapper h4 {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}
#weapons #damage-wrapper #details-wrapper #second-range-wrapper h5 {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-left: 40px;
}
#weapons #damage-wrapper #details-wrapper #label-wrapper {
    width: auto;
    margin-top: 27px;
    padding: 5px 10px;
    display: inline-block;
}
#weapons #damage-wrapper #details-wrapper #label-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}
